html {
  font-size: 14px;
}

.custom-container {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}
.header {
    background-color: #800020;
    color: white;
    border-bottom: 1px solid #66001a;
}

.header a {
    color: white !important;
    transition: color 0.2s ease;
}

.header a:hover {
    color: #ffd6db !important;
}

/* LOGO */
.logo {
    text-decoration: none;
    color: white !important;
}

.logo h2 {
    font-weight: bold;
    font-size: 28px;
    margin: 0;
}

.logo small {
    font-size: 12px;
    color: #ffd6db !important;
}

/* SEARCH */
.search-box {
    position: relative;
    width: 40%;
}

    .search-box input {
        width: 100%;
        padding: 10px 40px 10px 15px;
        border-radius: 25px;
        border: none;
        background: #fdf2f4;
        color: #333;
        font-size: 14px;
    }

    .search-box button.search-submit-btn {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        padding: 8px 12px;
        color: #666;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        z-index: 5;
        transition: color 0.2s ease;
    }

    .search-box button.search-submit-btn:hover {
        color: #800020;
    }

/* DESKTOP MENU */
.menu {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-top: 1px solid #9e0c30;
}

    .menu a {
        text-decoration: none;
        color: white !important;
        font-size: 15px;
        font-weight: bold;
    }

    .menu a:hover {
        color: #ffd6db !important;
    }

/* MOBILE SIDEBAR */
.mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .mobile-menu a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        border-bottom: 1px solid #eee;
        padding-bottom: 10px;
    }

/* BADGE */
.badge {
    background: white;
    color: red;
    border: 1px solid red;
    font-size: 11px;
    padding: 2px 6px;
    border-radius: 10px;
}
/*css sidebar*/
.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 260px;
    background: #1e293b;
    color: white;
}

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        padding: 15px 20px;
    }

    .sidebar a {
        color: white;
        text-decoration: none;
    }

    .sidebar li:hover {
        background: #334155;
    }

main {
    flex: 1;
    padding: 30px;
    background: #f5f5f5;
}